* {
    margin: 0px;
    padding: 0px;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

#Header {
    padding: 1rem;
    max-width: 100vw;
    height: 9vh;
}

#Header h6 {
    font-size: 0.6rem;
}

hr {
    width: 95vw;
    margin: 0.4rem auto 0 auto;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.3)
}

#main {
    position:fixed;
    top:80;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

#main #about-section {
    background-color: #080707;
    width: 45vw;
    aspect-ratio: 1.5;
    padding: 1rem;
}

#main #achievements-section {
    background-color: #080707;
    width: 45vw;
    aspect-ratio: 1.5;
    padding: 1rem;
    float: right;
}

#web-footer {
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
}

#web-footer a{
    width: 1%;
    text-decoration: underline;
    color: white;
    font-size: 1rem;
    margin: 0px 1rem 0px 0px;
}
