* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.hero {
    display: flex;
    padding: 4vh;
    width: 100vw;

    background-image: url(images/head1.png);
    height: 40vh;
    background-size: cover;
    background-position: center;

}

.hero h1 {
    color: white;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

