:root {
    --dark: #030f18;

    --primary: #001f3f;
    --secondary: #43b7ff;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary);
}

header {
    margin-top: 2vh;

    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 2vh;
    padding-inline: 2vh;
    background-color: var(--dark);
    opacity:0.8;
    width: 75%;
    max-width: 1200px;
    height: 8vh;
}

header img {
    display: block;
    height: 7vh;
    width: 11vw;
}

header a {
    padding: 1vw;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease

}

header a:hover {
    font-size: 1.35rem;
    color: var(--secondary);
    transition: all 0.5s ease
}

#hero {
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
