* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    color: #eee;
    line-height: 1.6;
}

body::-webkit-scrollbar {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-image: url(images/head1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    position: absolute;
    color: white;
    font-size: 4rem;
    font-family: 'Avenir', sans-serif;
    font-weight: 700;
    text-align: center;
}

.hero h5 {
    margin-top: 5rem;
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    text-align: center;
}

.main {
    /* something */
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.about-me {
    display: flex;
    float: right;
}

.softwares {
    display: flex;
    float: right;
}

.softwares img {
    height: 5vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 1rem 2rem;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

@media (max-width: 400px) {

    .hero {
        padding: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        /* stack text above buttons */
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .buttons {
        position: static;
        /* remove absolute positioning */
        margin-top: 2vh;
        justify-content: center;
    }

    .buttons a {
        font-size: 1.2rem;
    }

    .hero h1 {
        font-size: 2.5rem;
        /* optional: fits better on mobile */
        text-align: center;
    }
}
