* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(30, 30, 30);
    color: #eee;
    line-height: 1.6;
}

.hero {
    display: flex;
    width: 100%;

    background-image: url(images/head1.png);
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    top: 4vh;
    left: 4vw;
    position: absolute;
    color: white;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
    display: flex;
    position: absolute;

    height: 3vh;
    margin-top: 2vh;
    margin-left: 4vw;

    align-items: center;
    align-self: center;
}

.buttons a {
    display: flex;
    margin: 1vh;
    padding: 0.5vh;
    border-radius: 0.5rem;
    background-color: rgba(51, 51, 51, 0.3);

    text-decoration: none;
    color: white;
    font-size: 1.5rem;

    transition: all 0.25s ease;
}

.buttons a:hover {
    background-color: rgba(0, 255, 255, 0.115);
    box-shadow: 0px 0px 5px 2.5px #0ff;

    transition: all 0.25s ease;
}

.main {
    /* something */
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.about-me {
    display: flex;
    float: right;
}

.softwares {
    display: flex;
    float: right;
}

@media (max-width: 400px) {

    .hero {
        padding: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        /* stack text above buttons */
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .buttons {
        position: static;
        /* remove absolute positioning */
        margin-top: 2vh;
        justify-content: center;
    }

    .buttons a {
        font-size: 1.2rem;
    }

    .hero h1 {
        font-size: 2.5rem;
        /* optional: fits better on mobile */
        text-align: center;
    }
}
